<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
    <style type="text/css">
        body {
            color: rgb(10, 4, 48);
            background-color: #97d3b0;
            padding-left: 11em;
            font-family: Georgia, "Times New Roman",
                Times, serif;
        }
    </style>
    <link rel="stylesheet" href="./styles/style.css">

    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
</head>

<body>
    <header>
        <h1>Это мой сайт о интересных городах мира</h1>
    </header>
    <main>
        <article>
            <section>
                <h2>Что можно найти на этом сайте?</h2>
                <p>На этом сайте вы сможете узнать о погоде различных городов мира. Кроме того, здесь вы сможете найти
                    информацию об их достопримечательностях и истории.
                </p>
                <img src="file:///C:/django/travel/templates/pict/image.jpg" alt="Пчёлка, ромашка и одуванчик.">
                <p>Надеюсь эта информация поможет тебе выбрать куда меня свозить за мои труды:)</p>
            </section>
            <section>
                <h2>О каком городе хочешь узнать?</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input name="city" type="text" />
                    <button type="submit">Отправить</button>
                </form>
            </section>
        </article>
    </main>
</body>

</html>